.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%; 
}

.navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  font-weight: 600;
  color: #333333;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #e94560;
}

.social-links li {
  margin: 0 5px;
  align-items: center;

}

.social-links a {
  color: #333333;
  font-size: 1.5em;
  transition: color 0.3s;
  align-items: center;

}

.social-links a:hover {
  color: #e94560;
  align-items: center;

}


.nav-links, .social-links {
list-style: none;
display: flex;
padding: 0;
margin: 0;
}

.nav-links li {
margin: 0 10px;
}

.social-links {
display: flex;
align-items: center;
justify-content: center;

}

.nav-links a {
font-weight: 600;
color: #333333;
text-decoration: none;
transition: color 0.3s;
}

.nav-links a:hover {
color: #e94560;
}

.navbar-content {
  display: flex;
  justify-content: space-between; /* מבטיח שהקישורים וההורדה יהיו במקומות הנכונים */
  align-items: center;
  padding: 10px 20px;
}
.nav-links, .social-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-links li, .social-links li {
  margin: 0 15px;
}

.download-cv {
  margin-left: auto; /* דוחף את הכפתור להורדה לימין */
}

.download-cv a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-weight: 600;
  color: #ffffff;
  background-color: #e94560; /* צבע אדום */
  border-radius: 30px; /* עושה את הכפתור לעגול/אליפסה */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.download-cv a:hover {
  background-color: #ff5e7d; /* שינוי קל בצבע כדי להראות אפקט hover */
  color: #ffffff;
}

.download-cv i {
  margin-right: 5px; /* מרווח בין האייקון לטקסט */
}

.nav-links a, .social-links a {
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover, .social-links a:hover {
  color: #e94560;
}

.social-links a {
  display: flex;
  align-items: center;
}

.social-links i {
  margin-right: 5px;
}
