.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* שינוי ל-fixed כדי להבטיח שה-header יהיה קבוע */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo a {
  font-size: 1.5em;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #e94560;
}

.download-cv-li {
  margin-left: auto;
}

.download-cv-li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-weight: 600;
  color: #ffffff;
  background-color: #e94560;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.download-cv-li a:hover {
  background-color: #ff5e7d;
}

.download-cv-li a i {
  margin-right: 5px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #333;
  margin: 4px 0;
  transition: all 0.3s;
}

.hamburger span.active:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger span.active:nth-child(2) {
  opacity: 0;
}
.hamburger span.active:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    z-index: 999;
  }
  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .download-cv-li {
    margin-left: 0;
  }

  .navbar-content {
    flex-direction: row;
    align-items: center;
  }
}
